/* BACKGROUND */
* {
    margin: 0; padding: 0;
    list-style: none; text-decoration: none;
    font-family: 'Noto Serif KR', serif;
    box-sizing: border-box;
    word-break: keep-all;
}
html, body {
    height: 100%;
}
a, a:visited {
    color:black;
}
header {
    height: 11rem;
    background-color: rgb(240, 240, 240);
}
section {
    width: 100%;
    background-color: white;
}
footer {
    color: rgb(58, 58, 58);
    width: 100%; height: 50px; margin: 0 auto;
    background-color: rgb(240, 240, 240);
    position: relative;
    text-align: center; font-size:0.5rem;
    padding-bottom: 10px; padding-top: 10px;
}
footer a {
    color: rgb(58, 58, 58);
}

/* SETTING-GRID */
#header_bar {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
}
#home_banner {
    height: 11rem;
    background-color: rgb(240, 240, 240);
    position:relative;
}
#nav_bar {
    height: 11rem;
    background-color: rgb(240, 240, 240);
    position: relative;
}

/* header */
#nav_bar ul {
    position: absolute;
    bottom: 0; right: 50px;
}
#nav_bar ul li {
    display: block;
    float: left;
}
#nav_bar ul li a {
    font-family: 'Gowun Dodum', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    display: block;
    padding: 10px 30px;
    border-bottom: 3px solid rgb(240, 240, 240);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
#nav_bar ul li:hover a {
    border-bottom: 3px solid rgb(196, 160, 68, 0.5);
    box-sizing: border-box;
}
#home_banner {
    position: relative;
    text-align: center;
}
#home_banner a {
    font-family: 'Song Myung', serif;
    font-size: 2.4rem;
    position: absolute;
    display: block; padding: 20px;
    bottom: 0; left: 50%; transform: translate(-50%, 0);
    text-align: left; white-space:nowrap;
    transition: all 0.2s ease-in-out;
}
#home_banner a:hover {
    text-shadow: 0 0 10px rgb(196, 160, 68, 0.5);
}

/* section */
#container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

/* page */
#homepage {
    width: 100%;
    height: 690px;
    min-height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.90) 0%, rgba(0, 0, 0, 0) 70%), url("bgpic.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align: left;
}
#greeting {
    position: absolute;
    color: white;
    bottom: 10%; left: 20%;
}
#greeting h1 {
    font-size: 2.4rem;
    line-height: 4rem;
}
#greeting p {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* rank page */
#rankPage {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    padding-top: 20px;
    box-sizing: border-box;
    font-size: 1.2rem;
    padding-bottom: 40px;
}
#rankPageName {
    padding-top: 20px;
    font-size: 2rem;
}
.rankItem {
    display: flex;
    justify-content: center;
}
.rankTitle, .rankImage {
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 30px;
}
.rankNumber {
    line-height: 50px;
    font: bold;
}
.rankPageContents{
    display: block;
    float: left;
    font-size: 1.2rem;
    width:25%;
    height:15%;
    margin:15px;
    padding-bottom: 10px;
    transition: all 0.2s ease-in-out;
}
.rankPageContents img {
    width: 80%;
}
.rankPageContents:hover {
    background-color: rgb(196, 160, 68, 0.5);
}
.rankItem:first-of-type .rankPageContents {
    font-size:1.6rem;
    width: 33%;
    height: 22%;
}
.rankItem:first-of-type .rankPageContents p:first-of-type {
    text-shadow: 0 0 8px rgb(196, 160, 68, 0.8);
}
.rankItem:first-of-type .rankTitle{
    font-size:1.8rem;
}
.yearText {
    font-size: 1rem;
}

/* movie page */
#moviePage {
    margin-bottom: 20px;
    height:1000px;
}
#movieImage {
    position: relative;
    width: 100%;
    height: 600px;
    /* transition: all 1s ease-in-out;
    transition-delay: 2s;
    animation: moveIn;
    animation-delay: 0s; */
}
/* @keyframes moveIn {
    from { opacity: 100%; }
    to { opacity: 0%; }
} */
#prevImage, #nextImage {
    width: 70px;
    height: 100%;
    line-height: 500px;
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    background-color: transparent; border:none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}
#nextImage {
    float: right;
}
#prevImage:hover, #nextImage:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
#movieDetail {
    position: absolute;
    bottom: 20px; left: 30px;
}
#movieDetail h1{
    font-size: 4rem;
    font-family: 'Song Myung', serif;
}
#movieBottom {
    overflow: hidden;
    margin-top: 10px;
    margin-left: 30px;
}
#movieSummary {
    width: 45%;
    float:left;
}
#movieReview {
    width: 45%;
    float:right;
    margin-right: 20px;
    background-color: rgb(255, 245, 212);
    padding: 20px;
}
#movieSummary p:first-child, #movieReview p:first-child {
    font-size: 1.5rem; line-height: 3rem;
    font-weight:800;
}

/* Gallery Page */
#gallery {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.galleryRow {
    display: flex;
    justify-content: left;
}
.galleryItem {
    margin: 5px;
    width: 23%;
    height: 400px;
    line-height: 400px;
    float: left;
    transition: all 0.2s ease-in-out;
}
.galleryItem:hover {
    background-color: rgb(196, 160, 68, 0.5);
}
.galleryImage:hover {
    cursor: pointer;
}
.galleryItem img {
    width: 80%;
    vertical-align: middle;
}

/* Years Page */
#years, #directors {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}
.yearLineText::before, .yearLineText::after,
.dirLineText::before, .dirLineText::after {
    content:"";
    height: 2px;
    flex-grow: 1;
    background-color: rgb(196, 160, 68, 0.5);
    font-size: 0;
    line-height: 0;
    margin: 0 50px;
}
.yearLineText, .dirLineText {
    display: flex; flex-basis: 100%; align-items: center;
    font-family: 'Song Myung', serif; font-weight:400; font-size: 2rem;
    margin: 10px 10px;
    cursor: pointer;
}
.yearLineText:hover, .dirLineText:hover {
    text-shadow: 0 0 5px rgb(196, 160, 68);
}
.yearRow, .dirRow {
    display: flex;
    flex: none;
    justify-content: space-between;
    transition: all 0.3s ease-in;
    height: 490px;
}
.yearItem, .dirItem {
    margin: 5px;
    width: 30%;
    line-height: 30rem;
    transition: all 0.3s ease-in-out;
}
.yearItem:hover, .dirItem:hover{
    background-color: rgb(196, 160, 68, 0.5);
}
.yearImage:hover, .dirImage:hover{
    cursor: pointer;
}
.yearItem img, .dirItem img {
    width: 70%;
    vertical-align: middle;
    transition: all 0.2s ease-in-out;
}
input[type=checkbox] {
    display: none;
}
input:checked ~ .yearRow, input:checked ~ .dirRow {
    height: 0;
}
input:checked ~ .yearRow .yearItem, input:checked ~ .dirRow .dirItem {
    height: 0;
}
input:checked ~ .yearRow .yearItem img, input:checked ~ .dirRow .dirItem img {
    opacity: 0;
    pointer-events: none;
    cursor: default;
}

/* fix */
#fixing {
    padding: 100px;
    text-align: center;
    font-size: 2rem;
    line-height: 150%;
}